
{% extends 'base.html' %}
{% block content %}

<h1>Hello</h1>

{% if ticker %}
	{{ ticker }}
{% endif %}

{% if api %}
	{% if api == "Error...." %}
		There was a problem. Please Try again.
	{% else %}

		<h1> {{ api.companyName }} </h1>
		Price: ${{ api.latestPrice }}</br>
		Previous Close: {{ api.previousClose }}</br>
		Market Cap: {{ api.marketCap }}</br>
		YTD Change: {{ api.ytdChange }}</br>
		Previous Close: {{ api.previousClose }}</br>
		52 WK High: {{ api.week52High }}</br>
		52 WK Low: {{ api.week52Low }}</br>

	
	{% endif %}	
{% endif %}

{% endblock %}